*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 font-family: 'Bad Script', cursive;;
}
body{
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 100vh;
    background-color: #111;
}
h2{
    font-size: 70px;
    font-weight: 800;
    color: transparent;
    display: flex;
}
.w{
    margin-left: 20px;
}
.u{
    margin-left:20px ;
}
.d{
    margin-left: 15px;
}
.o{
    margin-left: 15px;
}
.t{
    margin-left: 15px;
}

h2 span{
    animation: animate 3s linear infinite;
    animation-delay: calc(0.2s * var(--i));
}
@keyframes animate{
    0%{
        color: white;
        filter: blur(0.5px) hue-rotate(0deg);
        text-shadow: 0 0 10px #00b3ff,
        0 0 20px #00b3ff,
        0 0 40px #00b3ff,
        0 0 80px #00b3ff,
        0 0 120px #00b3ff,
        0 0 200px #00b3ff,
        0 0 300px #00b3ff,
        0 0 400px #00b3ff;
    }
    50%{
        color: white;
        filter: blur(0.5px) hue-rotate(360deg);
        text-shadow: 0 0 10px #00b3ff,
        0 0 20px #00b3ff,
        0 0 40px #00b3ff,
        0 0 80px #00b3ff,
        0 0 120px #00b3ff,
        0 0 200px #00b3ff,
        0 0 300px #00b3ff,
        0 0 400px #00b3ff;
    }
    100%{
        color: transparent;
        box-shadow: none;
    }
}